.ReactGridGallery {
  display: block;
  width: 100% !important;
  min-height: 900px;
  max-width: 1206px !important;
}

.ReactGridGallery_tile-bottom-bar {
  text-align: left;
}

.ReactGridGallery_tile-bottom-bar span {
  color: #fff !important;
  background-color: transparent !important;
}
