.avatar-container {
  margin: 80px 0 40px;
  width: 330px;
  align-items: center;
}

.avatar-container img {
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 480px){
  .avatar-container {
    margin: 40px auto 10px;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 380px){
  .avatar-container {
    margin: 40px auto 10px;
    width: 260px;
    height: 260px;
  }
}
